---
title: Home
---

<h1>maxgmr</h1>
<p>I'm Max Gilmour— welcome to my personal website.</p>
<p>
  I like to learn about things. Some of my favourite topics are systems
  programming, open-source software, languages, theology, and the philosophy of
  mind. In my spare time, I enjoy painting miniatures and spending time with my
  loved ones.
</p>
<p>
  I am a software developer and I work on personal projects in my own time.
  While most of my work is currently in Rust and TypeScript, I'm comfortable
  using many other languages when needed.
</p>
<p>
  I am a graduate of the Cognitive Systems - Computational Intelligence and
  Design program at the University of British Columbia. I currently reside in
  Victoria, BC, Canada.
</p>
<div class="figures">
  {% include figure.html img="rbca_tetris_demo" type="gif" alt="rbca playing
  Tetris." caption="My from-scratch Game Boy emulator playing Tetris."
  class="fig-img" use-href="true" href="/projects/rbca.html" %} {% include
  figure.html img="pacbrow_screenshot" type="png" alt="pacbrow displaying some
  installed packages." caption="My terminal-based program displaying some
  installed packages." class="fig-img" use-href="true"
  href="/projects/pacbrow.html" %}
</div>
<p>This website is perpetually under construction, just like all of us are.</p>
