// Terminal Colour Scheme
$dgrey: #282828;
$bdgrey: #928374;
$red: #cc241d;
$bred: #fb4934;
$green: #98971a;
$bgreen: #b8bb26;
$yellow: #d79921;
$byellow: #fabd2f;
$blue: #458588;
$bblue: #83a598;
$magenta: #b16286;
$bmagenta: #d3869b;
$cyan: #689d6a;
$bcyan: #8ec07c;
$lgrey: #a89984;
$blgrey: #ebdbb2;

body {
  background-color: $blgrey;
  margin: 60px auto;
  width: 90%;
}

nav ul,
footer ul {
  font-family: "Noto Serif", "Times New Roman", serif;
  padding: 0px;
  list-style: none;
  font-weight: bold;
}
nav ul li,
footer ul li {
  display: inline;
  margin-right: 20px;
}

nav {
  border-bottom: 1px solid $dgrey;
  font-size: 2em;
}

footer {
  border-top: 1px solid $dgrey;
  font-size: 1.2em;
  color: $bdgrey;
}

h1 {
  font-size: 3em;
  font-family: "Noto Serif", "Times New Roman", "serif";
  color: $dgrey;
}

p {
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: $green;
}
a:hover {
  color: $bgreen;
}

div.figures {
  display: flex;
  justify-content: left;
  width: auto;
  max-height: 100%;
}

img.fig-img {
  object-fit: contain;
  max-height: 300px;
  border: 5px solid transparent;
}

img.fig-img:hover {
  object-fit: contain;
  max-height: 300px;
  border: 5px solid $bgreen;
}

figcaption {
  font-style: italic;
  font-size: 1.2em;
}

img.big-img {
  max-width: 90%;
  height: auto;
}

.current {
  color: $blue;
}
.current:hover {
  color: $blue;
}
